/* Help page Variants */
.helpheader {
    text-align: left;
    font-family: minecraft;
    color:black;
    margin-left: 25px;
}

.helptext {
    text-align: left;
    font-family: minecraft;
    color:white;
    font-size: 18px;
    margin-left: 50px;
}

.helptable {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 18px;
    font-family: minecraft;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    border-color: rgb(153, 153, 153);
    border-width: 2px;
    border-style: solid;

    display: inline-block;
    width: 250px;
}

.helptable:hover {
    background-color: gray;
    color: black;
}

.helptableheader {
    text-align: left;
    font-family: minecraft;
    color:black;
    font-size: 18px;
}

.helplink {
    cursor: pointer;
    text-decoration: underline;
    color:rgb(209, 209, 209);
}