/* Hover dropdown menus - recipe menu buttons */
.dropbtn {
    background: rgb(55,54,66);
    background: linear-gradient(355deg, rgba(67,67,67,1) 0%, rgba(110,110,110,1) 0%, rgba(175,175,175,1) 88%);
    font-family: minecraft;
    border: none;
    padding: 3px;
    padding-bottom: 1px;
    padding-top: 2px;
    vertical-align: -1px;
    color: black;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(55,54,66);
    background: linear-gradient(355deg, rgba(67,67,67,1) 0%, rgba(110,110,110,1) 0%, rgba(175,175,175,1) 88%);
    font-family: minecraft;
    min-width: 160px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-width: 3px;
    border-style: solid;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown-content {
    display: block;    
}

.dropdown:hover .dropbtn {
    background-color: grey;
}

/* New? */

.dropdown_menu {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

/* Click Dropdowns */
.clickdropbtn {
    background-color: white;
    font-size: 16px;
    font-family: minecraft;
    border: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.clickdrop:hover, .clickdrop:focus {
    background-color: grey;
}

.clickdropdown {
    position: absolute;
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
}

.clickdrop-content {
    display: none;
    position: absolute;
    background:rgb(214, 214, 214);
    min-width: 25px;
    overflow: auto;
    z-index: 1;
    text-align: center;
}

.clickdrop-content a {
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    font-family: minecraft;
}

.clickdrop-content a:hover {
    background-color: grey;
}

.show {
    display: block;
}

.craftbutton {
    font-family: minecraft;
    font-size: 16px;
    width: 25px;
    height: 25px;
}

.craftdisabled {
    background-color: grey;
    cursor: default;
}