@font-face {
    font-family: minecraft;
    src: url(../minecraft.otf);
}

.transition { 
    transition: opacity .5s;
    opacity: 0;
}

.divspacing {
    margin-top: 8px
}

.page {
    background-image: url(../dirt.png);
    background-repeat: repeat;
    box-shadow: inset 0 0 100px black;
    width: 100%;
    height: 100%;
    user-select: none;
}

/* Buttons */

.button {
    cursor: pointer;
    /*background-color: rgb(168, 168, 168);*/
    background: rgb(55,54,66);
    background: linear-gradient(355deg, rgba(67,67,67,1) 0%, rgba(110,110,110,1) 0%, rgba(175,175,175,1) 88%);
    color: rgb(5, 5, 5);
    font-size: 18px;
    font-family: minecraft;
    padding: 3px;
    text-decoration: none;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    text-shadow: 1px;
}

.button:hover {
    border-color: white;
}

.buttondisabled {
    color:rgb(0, 0, 0);
    background-color: rgb(94, 94, 94);
    font-family: minecraft;
    padding: 3px;
    text-decoration: none;
    font-size: 18px;
    pointer-events: none;
    cursor: default;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

/* Tooltips */
.tooltip {
    position: relative;
    cursor: default;
    background-color: rgb(255, 255, 255);
    color: black;
    display: inline-block;
    border-radius: 30%;
    font-family: minecraft;
    padding: 2px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    height: fit-content;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    opacity: 0;
    transition: opacity 500ms;
    font-family: minecraft;
    cursor: default;

    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 100%;
    margin-left: -100px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip span:hover {
    visibility: hidden;
}

/* Simple text styles */
.text {
    font-family: minecraft;
    color: white;
    text-align: center;
    font-size: 16px;
}

.textbold {
    font-family: minecraft;
    font-size: 16px;
    color: white;
}

.textinput {
    font-family: minecraft;
    font-size: 16px;
    width: 250px;
    margin-top: 2px;
    opacity: 1;
    border-style: solid;
    border-color: rgb(71, 71, 71);
    border-width: 1px;
}

/* TODO please fix the colour please please please */
.header1 {
    font-family: minecraft;
    color:rgb(255, 252, 241);
    text-align: center;
    margin-top: -5px;
}

.labelspace {
    width: 250px;
}

/* Save location boxes */
.savelocation {
    font-family: minecraft;
    color: black;
    width: 450px;
    height: 22px;
    font-size: 17px;
    background-color: white;
    border-color: rgb(71, 71, 71);
    border-style: solid;
    border-width: 1px;
}

.savebutton {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 18px;
    font-family: minecraft;
    padding: 3px;
    text-decoration: none;
    border-color: rgb(71, 71, 71);
    border-width: 1px;
    border-style: solid;
}

.error {
    color: #ff9900;
    font-family: minecraft;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #ff9900;
    text-decoration-thickness: 1px;
    opacity: 0;
}

.errortransition {
    transition: opacity 0.5s;
    opacity: 1;
}

/* Additional Unclassified Styles */

@keyframes dropdown {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0deg);
    }
}