@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.dropdown {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #C06162;
    background: #34495e;
    position: relative;
    font-size: 18px;
    perspective: 1000px;
    z-index: 100;
}
.dropdown:hover {
    background: #2980b9;
    cursor: pointer;
}
.dropdown:hover .dropdown_menu li {
    display: block;
}

 .dropdown_menu {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   perspective: 1000px;
   z-index: -1;
}

.dropdown_menu li {
    display: none;
    color: white;
    background-color: #34495e;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;
}
.dropdown_menu li:hover {
    background-color: #2980b9
}

.dropdown_menu-2 {
    
    transform-origin: top center;
    animation: rotateX 300ms (num * 60ms) ease-in-out forwards
}

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

